<%- include('partials/header') %>
<a href="/create">Create</a>
<h1>List of all posts</h1>
  <% blogPosts.forEach(blogPost => { %>
    <div style="border: 1px solid gray; padding: 10px;">
      <h4><%= blogPost.title %></h4>
      <p><%= blogPost.content %></p>
      <p>#<%= blogPost.view_count %> views</p>
    </div>
  <% }) %>
<%- include('partials/footer') %>
