<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/players" method="post">
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= player.name %>">
      </div>
      <div>
        <label for="goals_scored">Goals Scored</label>
        <input type="text" name="goals_scored" id="goals_scored" value="<%= player.goals_scored %>">
      </div>
      <button type="submit">Create</button>
    </form>
    <hr>
    <footer>
      <a href="/">Home</a>
    </footer>
  </body>
</html>
